body{
    font-family: 'Lobster', cursive;
    background: url("../images/murumba-pizzeria.jpg");
    background-repeat: repeat-x;
    background-size: cover;
}
#page-head{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
#pizza-sizes{
    padding-top: 50px;
    padding-bottom: 50px;
}
#order-form{
    padding-top: 70px;
    padding-bottom: 70px;
}
.topic{
    font-family: 'Indie Flower', cursive;
    color: azure;
}
.subtopic{
    font-family: 'Pacifico', cursive;
    color: darkgoldenrod;
    text-align: center;
}
#orderstyle{
    color: orange;
}