#page-head{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background: url('https://github.com/murumba631/Pizza-ordering-site/blob/master/images/murumba-pizzeria.jpg');
    background-attachment: fixed;
    background-size: cover;
}
#pizza-sizes{
    padding-top: 50px;
    padding-bottom: 50px;
}